/* ====== Fond avec dégradé passé → futur ====== */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

/* ====== Formulaire stylé ====== */
form {
  margin-top: 50px;
  text-align: center;
  width: 90%;
  max-width: 400px;
  box-sizing: border-box;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}
