body {
  display: flex;
  justify-content: center; /* Centre le contenu horizontalement */
  align-items: center; /* Centre le contenu verticalement */
  background-image: url("../img/fondrecherche2.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  flex-direction: column;
  height: 100vh;
  overflow: hidden; /* Empêche le scroll si nécessaire */
}

/* ====== Barre et Logo ====== */
main {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.radio-group {
  display: flex;
  margin-left: 93px;
  gap: 20px; /* Ajoute un espace entre les boutons radio */
  align-items: center;
}

.selection-container {
  margin-top: 20px; /* Ajoute un espace entre le texte et le champ de sélection */
}

/* select {
  width: 50%;
  padding: 10px;
  font-size: 18px;
  border-radius: 5px;
  border: 1px solid white;
  background: transparent;
  text-align: center;
} */

/* select option {
  color: black;
} */

/* label {
  font-size: 18px;
  margin-top: 15px;
  margin-bottom: 10px;
  display: block;
  color: white;
} */

/* input[type="date"] {
  width: 50%;
  padding: 10px;
  font-size: 18px;
  border-radius: 5px;
  border: 1px solid white;
  background: transparent;
  color: white;
  text-align: center;
} */

/* input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
} */

